html, body {
    height: 100%;
}

.top-btn-margin {
    margin: 0px 2.5px;
}

.control-panel {
    margin-top: 0px;
    margin-bottom: 10px;
}

.control-panel>div {
    padding: 6px;
}

.control-input, .control-button {
    height: 28px;
    padding: 3px 12px;
}

.control-button[disabled] {
    cursor: default;
}

.control-button-highlight {
    box-shadow: 0px 0px 10px #400000;
}

.control-input {
    padding-left: 7px;
    padding-right: 3px;
}

.control-cancel-button {
    padding-left: 6px;
    padding-right: 6px;
}

.control-editing {
    background-color: #ffcc00;
}

.control-table {
    table-layout: fixed;
    width: 400px;
    margin-bottom: 0px;
}

.control-table>tbody>tr>td {
    vertical-align: middle;
}

.control-table>thead>tr>th {
    white-space: nowrap;
}

.notbold {
    font-weight: normal;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row>*, .flex-column>* {
    flex-shrink: 0;
}

.btn-right-margin {
    margin-right: 5px;
}

.gcode-table>tbody>tr>td {
    vertical-align: top;
}

.gcode-table>tbody>tr[data-mod2='1'] {
    background-color:#f9f9f9;
}

.gcode-table>tbody>tr[data-pending='true'] {
    background-color: #ffcc00;
}

.gcode-table>tbody>tr[data-error='true'] {
    background-color: #ff3333;
}

.config-panel {
    min-height: 400px;
    max-height: 700px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    font-size: 28px;
    font-style: italic;
}

*[hidden] {
    display: none;
}
