.top-btn-margin {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.control-panel {
    margin-top: 0px;
    margin-bottom: 10px;
}

.control-panel>div {
    padding: 6px;
}

.control-input, .control-button {
    height: 28px;
    padding: 3px 12px;
}

.control-input {
    padding-left: 7px;
    padding-right: 3px;
}

.control-cancel-button {
    padding-left: 6px;
    padding-right: 6px;
}

.control-cancel-button[disabled] {
    cursor: default;
}

.control-editing {
    background-color: #ffcc00;
}

.control-table {
    table-layout: fixed;
    width: 400px;
    margin-bottom: 0px;
}

.control-table>tbody>tr>td {
    vertical-align: middle;
}

.control-table>thead>tr>th {
    white-space: nowrap;
}

.notbold {
    font-weight: normal;
}
