html, body {
    height: 100%;
}

.all-panel-margin {
    margin: 5px;
}

.content-div {
    height: 100%;
    padding: 5px;
}

.top-panel {
    overflow: auto;
    padding: 5px 2.5px;
}

.top-btn-margin {
    margin: 0px 2.5px;
}

.control-panel>div {
    padding: 6px;
}

.control-button, .control-input, .control-ig-label {
    height: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.control-button {
    padding-left: 12px;
    padding-right: 12px;
}

.control-button[disabled] {
    cursor: default;
}

.control-button-highlight {
    box-shadow: 0px 0px 10px #400000;
}

.control-input {
    padding-left: 7px;
    padding-right: 3px;
}

.control-cancel-button {
    padding-left: 6px;
    padding-right: 6px;
}

.control-editing {
    background-color: Gold;
}

.control-table {
    table-layout: fixed;
    width: 400px;
    margin-bottom: 0px;
}

.control-table>tbody>tr>td, .control-table>tbody>tr>td.control-table-link>a {
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.control-table>tbody>tr>td.control-table-link {
    padding: 0;
}

.control-table>tbody>tr>td.control-table-link>a {
    display: block;
    width: 100%;
    height: 100%;
}

.control-table>thead>tr>th {
    white-space: nowrap;
    padding-top: 0px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.control-bottom-margin {
    margin-bottom: 4px;
}

.divider {
    height: 1px;
    width: 100%;
    display: block;
    overflow: hidden;
    background-color: #e5e5e5;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 0px;
    margin-right: 0px;
}

.notbold {
    font-weight: normal;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row>*, .flex-column>* {
    flex-shrink: 0;
}

.flex-grow1 {
    flex-grow: 1;
}

.flex-shrink1 {
    flex-shrink: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-align-center {
    align-items: center;
}

.min-height0 {
    min-height: 0;
}

.control-right-margin {
    margin-right: 5px;
}

.control-label {
    margin-bottom: 0px;
}

.gcode-table>tbody>tr>td {
    vertical-align: top;
}

.gcode-table>tbody>tr[data-mod2='1'] {
    background-color: #f9f9f9;
}

.gcode-table>tbody>tr[data-pending='true'] {
    background-color: Gold;
}

.gcode-table>tbody>tr[data-error='true'] {
    background-color: OrangeRed;
}

.gcode-input-group {
    width: 400px;
}

.gcode-panel {
    max-height: 400px;
}

.main-panel {
    min-height: 250px;
    max-height: 1000px;
}

.constatus, .activestatus {
    font-size: 16px;
    font-weight: bold;
}

.constatus-control {
    font-size: 14px;
    font-weight: bold;
}

.activestatus-inactive {
    color: Green;
}

.constatus-waitresp, .activestatus-active {
    color: Orange;
}

.constatus-error {
    color: Red;
}

.toppanel-spacediv {
    min-width: 20px;
}

.control-panel>.control-tabs-panel-heading {
    padding-bottom: 0px;
}

.control-tabs {
    margin-bottom: 0px;
    border-bottom: 0px;
}

.control-tabs>li>a {
    padding-top: 3px;
    padding-bottom: 3px;
}

.control-tabcontent>.active {
    display: flex;
}

.sdcard-tab {
    width: 600px;
}

.dirlist-loading-text {
    font-weight: bold;
}

.files-right-margin {
    margin-right: 7px;
}

.upload-status-running {
    font-weight: bold;
    color: Orange;
}

.upload-status-success {
    font-weight: bold;
    color: Green;
}

.upload-status-error {
    font-weight: bold;
    color: Red;
}

.config-options-area {
    height: 400px;
}

.dir-list-area {
    height: 300px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    font-size: 22px;
    font-style: italic;
}

*[hidden] {
    display: none;
}

.nav>li[hidden] {
    display: none;
}
