html, body {
    height: 100%;
}

.top-btn-margin {
    margin: 0px 2.5px;
}

.control-panel {
    margin-top: 0px;
    margin-bottom: 10px;
}

.control-panel>div {
    padding: 6px;
}

.control-button, .control-input {
    height: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.control-button {
    padding-left: 12px;
    padding-right: 12px;
}

.control-button[disabled] {
    cursor: default;
}

.control-button-highlight {
    box-shadow: 0px 0px 10px #400000;
}

.control-input {
    padding-left: 7px;
    padding-right: 3px;
}

.control-cancel-button {
    padding-left: 6px;
    padding-right: 6px;
}

.control-editing {
    background-color: #ffcc00;
}

.control-table {
    table-layout: fixed;
    width: 400px;
    margin-bottom: 0px;
}

.control-table>tbody>tr>td {
    vertical-align: middle;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.control-table>thead>tr>th {
    white-space: nowrap;
    padding-top: 0px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.control-bottom-margin {
    margin-bottom: 3px;
}

.notbold {
    font-weight: normal;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row>*, .flex-column>* {
    flex-shrink: 0;
}

.control-right-margin {
    margin-right: 5px;
}

.control-label {
    margin-bottom: 0px;
}

.gcode-table>tbody>tr>td {
    vertical-align: top;
}

.gcode-table>tbody>tr[data-mod2='1'] {
    background-color:#f9f9f9;
}

.gcode-table>tbody>tr[data-pending='true'] {
    background-color: #ffcc00;
}

.gcode-table>tbody>tr[data-error='true'] {
    background-color: #ff3333;
}

.gcode-input-group {
    width: 400px;
}

.config-panel {
    min-height: 400px;
    max-height: 700px;
}

.constatus {
    font-size: 16px;
    font-weight: bold;
}

.constatus-control {
    font-size: 14px;
    font-weight: bold;
}

.constatus-waitresp {
    color: #ffcc00;
}

.constatus-error {
    color: #ff6666;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    font-size: 28px;
    font-style: italic;
}

*[hidden] {
    display: none;
}
